.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
    background: #0a0;
    box-shadow: 2px 0px 5px #999999;
    transition: all 0.5s ease;
}

.sidenav a {
    display: block;
    text-decoration: none;
    color: #0d0;
}

.sidenav a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    box-shadow: 2px 2px 1px #eee;
}

.sidenav li {
    list-style: none;
}

.row.content {
    height: 450px
}

footer {
    background-color: #eee;
    color: #aaa;
    padding: 15px;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 0px;
    }
    .row.content {height:auto;} 
}

.jumbotron {
    background-color: #0a0;
    color: white;
    padding-bottom: 80px;
}

.start {
    float: left;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 70px;
    background: rgba(0, 25, 0, .25);
}

.container .buttons {
    position: relative;
    top: 30%;
    margin: 0 auto;
    width: 200px;
}

.buttons .button_1 {
    float: left;
}

.buttons .button_2 {
    float: left;
    margin-left: 10px;
}

.section {
    padding-bottom: 10px;
    border-left: 5px solid #dcfaa0;
    min-height: 350px;
}

.secthead {
    background-color: #ddd;
}

.secttext {
    border: 1px solid #eee;
    height: 30%;
}

.section img {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 350px;
    max-height: 200px;
}

.secttext button {
    display: block;
    float: bottom;
    margin: 10px;
}
